#title, #subtitle {
    color: white;
}

#title {
    font-size: 40px;
    font-weight: bold;
}

#subtitle {
    font-size: 30px;
}

#content h3 {
    font-size: 22px;
}

#content h2 {
    font-size: 25px;
}

#content h1 {
    font-size: 40px;
}

a {
    color: black;
}

#back-home {
    text-decoration: underline;
}

.btn {
    background-color: #077EFF;
}

.btn:hover {
    background-color: #075497;
}

@media screen and (max-width: 600px) {
    #logo {
        width: 300px;
    }
}

#step
{
    font-size: 30px;
}

blockquote
{
    border-left: 5px solid #077EFF;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-bottom: 2px solid #fe7d00;
    border-right: 2px solid #fe7d00;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #fe7d00;
    background-color: #fe7d00;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #fe7d00;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #fe7d00;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #fe7d00;
}
